body {
font-family: 'Arial', sans-serif;
margin: 0;
padding: 0;
background-color: #526c7c;
}
.profile {
display: block;
padding: 10px;
margin-left: auto;
margin-right: auto;
width: 30%;
border-radius: 20%;   
}
.audio-section {
text-align: center;
margin: 2em 10;
}
.lyrics-section {
text-align: center;
margin: 2em 10;
}

.lyrics-container {
max-width: 600px;
margin: auto;
background-color: #d3dee3;
padding: 25px;
border-radius: 8px;
box-shadow: 0 0 20px rgba(78,130,208,0.1);
}
ul {
list-style-type: none;
padding: 0;
}
li {
margin-bottom: 10px;
display: inline-block;
text-align: left;
width: 100%;
}
